<section id="choose">
  <div class="relative overflow-hidden">
    <!-- Content -->
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
    >
      <div class="">
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
        >
          Our Values
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-16">
        <div class="p-3">
          <div class="flex flex-row gap-x-4">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/value1.png?updatedAt=1719836356435"
              class="object-cover w-fit h-16"
              alt=""
            />

            <div class="flex flex-col">
              <p class="font-bold text-lg text-blue-800">Secure Endurance</p>
              <p class="">
                <span class="font-thin"
                  >DuboTech underwater AUVs are unmanned thus safe and can
                  operate for prolonged periods.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div class="flex flex-row gap-x-4">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/value2.png?updatedAt=1719836356523"
              class="object-cover w-fit h-16"
              alt=""
            />

            <div class="flex flex-col">
              <p class="font-bold text-lg text-blue-800">Expert Insight</p>
              <p class="">
                <span class="font-thin"
                  >We have strong multidisciplinary domain expertise & field
                  experience.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div class="flex flex-row gap-x-4">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/value3.png?updatedAt=1719836356476"
              class="object-cover w-fit h-16"
              alt=""
            />

            <div class="flex flex-col">
              <p class="font-bold text-lg text-blue-800">Thriving Challenges</p>
              <p class="">
                <span class="font-thin"
                  >We work in hazardous & inaccessible & confined areas like
                  port.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div class="flex flex-row gap-x-4">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/value4.png?updatedAt=1719836357028"
              class="object-cover w-fit h-16"
              alt=""
            />

            <div class="flex flex-col">
              <p class="font-bold text-lg text-blue-800">Data Enhancement</p>
              <p class="">
                <span class="font-thin"
                  >We devise & use best-in-class data enhancement tools for
                  superior client experience.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div class="flex flex-row gap-x-4">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/value5.png?updatedAt=1719836358483"
              class="object-cover w-fit h-16"
              alt=""
            />

            <div class="flex flex-col">
              <p class="font-bold text-lg text-blue-800">Refined Accuracy</p>
              <p class="">
                <span class="font-thin"
                  >We provide accurate, reliable and repeatable data through our
                  ROVs visual inspection.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div class="flex flex-row gap-x-4">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/value6.png?updatedAt=1719836358489"
              class="object-cover w-fit h-16"
              alt=""
            />

            <div class="flex flex-col">
              <p class="font-bold text-lg text-blue-800">
                Homegrown Innovation
              </p>
              <p class="">
                <span class="font-thin"
                  >Our technology is designed & developed in Bangladesh, echoing
                  with ‘Make in Bangladesh 🇧🇩’.
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
