<div
  class="relative bg-gray-700 isolate px-6 lg:px-8 min-h-[70vh] bg-cover bg-center flex items-center justify-center"
  style="
    background-image: url('https://ik.imagekit.io/dubotech/assets/img/team.png?updatedAt=1720041907607');
  "
>
  <!-- <img
    src="assets/img/inspection_2.png"
    alt=""
    class="absolute top-0 left-0 w-full h-full object-cover"
  /> -->

  <!-- <div class="max-w-full lg:px-24 relative z-10">
    <div class="">
      <h1
        class="text-9xl max-sm:text-7xl font-extrabold tracking-tight text-white"
      >
        DUBO <br />
        TECH
      </h1>
    </div>
  </div> -->
</div>
<section>
  <div class="relative bg-blue-800 overflow-hidden">
    <div class="bubbles">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
    </div>
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative z-20"
    >
      <h1 class="font-bold text-4xl text-white">Our Story</h1>
      <div class="">
        <p class="text-xl text-white text-justify">
          DuboTech is a pioneering deep tech startup from Bangladesh,
          specializing in cutting-edge underwater technology. The company boasts
          a team with a wealth of experience and expertise in developing
          innovative propulsion systems, advanced sensors, and autonomous
          navigation solutions. With a mission to commercialize underwater
          technology, DuboTech aims to generate revenue while continuously
          advancing its technological capabilities. Positioned to cater to the
          growing demand for underwater robotics, the company envisions playing
          a pivotal role in the global marine industry, offering services that
          are firmly rooted in artificial intelligence and engineering
          excellence. This strategic focus on DuboTech signifies a dynamic leap
          forward in its journey to become a leading force in the realm of deep
          underwater technology.
          <strong> Discovering Underwater Possibilities.</strong>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <ngx-spinner
        bdColor="rgba(0,0,0,0)"
        size="medium"
        color="#1e40af"
        type="square-loader"
        [fullScreen]="false"
      ></ngx-spinner>
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Board Of Directors
      </p>

      <div class="grid grid-cols-1 md:grid-cols-5 gap-5 mt-16">
        <ng-container *ngFor="let item of BODList">
          <div class="rounded-md shadow-md p-3">
            <div class="flex flex-col items-center justify-center">
              <div class="overflow-hidden">
                <img
                  [defaultImage]="
                    'https://ik.imagekit.io/dubotech/assets/img/default.png'
                  "
                  lazyLoad="{{ item.image }}"
                  class="object-cover rounded-full w-auto h-24"
                  (load)="imageLoaded(item)"
                  alt="{{ item.name }}"
                />
              </div>
              <div class="flex flex-col">
                <p class="text-center font-semibold text-lg">
                  {{ item.name }}
                </p>
                <p class="text-center text-lg" *ngIf="item.bod_designation">
                  <span class="font-thin">{{ item.bod_designation }} </span>
                </p>
                <p class="text-center" *ngIf="item.email">
                  <span class="font-thin">{{ item.email }} </span>
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Executive Team
      </p>

      <div class="grid grid-cols-1 md:grid-cols-5 gap-4 mt-16">
        <ng-container *ngFor="let item of List">
          <div class="rounded-md shadow-md p-3">
            <div class="flex flex-col items-center justify-center">
              <div class="overflow-hidden">
                <img
                  [defaultImage]="
                    'https://ik.imagekit.io/dubotech/assets/img/default.png'
                  "
                  lazyLoad="{{ item.image }}"
                  class="object-cover rounded-full w-auto h-24"
                  (load)="imageLoaded(item)"
                  alt="{{ item.name }}"
                />
              </div>
              <div class="flex flex-col">
                <p class="text-center font-semibold text-lg">
                  {{ item.name }}
                </p>
                <p class="text-center text-lg" *ngIf="item.designation">
                  <span class="font-thin">{{ item.designation }} </span>
                </p>
                <p class="text-center" *ngIf="item.email">
                  <span class="font-thin">{{ item.email }} </span>
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<app-why-choose-us></app-why-choose-us>
