<!-- banner -->

<div
  class="relative bg-gray-700 isolate px-6 lg:px-8 bg-cover bg-center bg-no-repeat min-h-[75vh] flex items-center justify-center"
  style="
    background-image: url('https://ik.imagekit.io/dubotech/assets/img/resouce_2.png?updatedAt=1722304163932');
  "
>
  <div class="mx-auto max-w-4xl">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Underwater Inspection Services
      </h1>
      <p class="mt-6 text-lg md:text-2xl leading-8 text-white">
        Provide high quality underwater inspections with less people
      </p>

      <div class="mt-6 flex items-center justify-center space-x-4">
        <a
          routerLink="/about/inspection"
          fragment="explore"
          class="px-3.5 py-2.5 text-sm font-semibold text-white border rounded-full bg-blue-800"
          >Explore Inspection <span aria-hidden="true">→</span></a
        >
        <a
          routerLink="/about/inspection"
          fragment="expert"
          class="px-3.5 py-2.5 text-sm font-semibold text-white border rounded-full"
          >Talk To Expert <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</div>

<section id="explore">
  <div class="relative bg-white overflow-hidden">
    <!-- Content -->
    <div class="relative py-2">
      <mat-tab-group>
        <mat-tab label="Ship Inspection">
          <ng-template matTabContent>
            <div
              class="relative min-h-[85vh] bg-cover bg-center bg-no-repeat flex items-center justify-start"
            >
              <video
                autoplay
                loop
                playsinline
                [muted]="true"
                class="absolute top-0 left-0 w-full h-full object-cover"
                preload="none"
              >
                <source
                  src="https://ik.imagekit.io/dubotech/assets/video/Ship.mp4?updatedAt=1720009687521"
                  type="video/mp4"
                />
              </video>
              <div class="absolute inset-0 bg-black opacity-50"></div>
              <!-- Content -->
              <div
                class="max-w-3xl px-4 py-4 sm:px-6 sm:py-6 lg:max-w-3xl lg:px-24 relative"
              >
                <div class="">
                  <h1
                    class="text-4xl font-bold tracking-tight text-white sm:text-4xl"
                  >
                    Ship Inspection
                  </h1>
                  <p class="mt-6 font-thin leading-8 text-white">
                    💧 Swiftly inspect ship hulls for damages and ensure vessel
                    integrity.
                  </p>
                  <p class="mt-6 font-thin leading-8 text-white">
                    💧 Enhance port efficiency by expediting inspection
                    processes.
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label=" Bridge Inspection">
          <ng-template matTabContent>
            <div
              class="relative min-h-[85vh] bg-cover bg-center bg-no-repeat flex items-center justify-start"
            >
              <video
                autoplay
                loop
                playsinline
                [muted]="true"
                class="absolute top-0 left-0 w-full h-full object-cover"
                preload="none"
              >
                <source
                  src="https://ik.imagekit.io/dubotech/assets/video/Bridge.mp4?updatedAt=1720009687757"
                  type="video/mp4"
                />
              </video>
              <div class="absolute inset-0 bg-black opacity-50"></div>
              <!-- Content -->
              <div
                class="max-w-3xl px-4 py-4 sm:px-6 sm:py-6 lg:max-w-3xl lg:px-24 relative"
              >
                <div class="">
                  <h1
                    class="text-4xl font-bold tracking-tight text-white sm:text-4xl"
                  >
                    Bridge Inspection
                  </h1>
                  <p class="mt-6 font-thin leading-8 text-white">
                    💧 Examine underwater bridge supports for signs of erosion
                    or damage.
                  </p>
                  <p class="mt-6 font-thin leading-8 text-white">
                    💧 Ensure the stability and safety of vital transportation
                    infrastructure.
                  </p>
                  <p class="mt-6 font-thin leading-8 text-white">
                    💧 Precise inspections of underwater pillars supporting
                    structures.
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label=" Pipeline inspection">
          <ng-template matTabContent>
            <div
              class="relative min-h-[85vh] bg-cover bg-center bg-no-repeat flex items-center justify-end"
            >
              <video
                autoplay
                loop
                playsinline
                [muted]="true"
                class="absolute top-0 left-0 w-full h-full object-cover"
                preload="none"
              >
                <source
                  src="https://ik.imagekit.io/dubotech/assets/video/Pipeline.mp4?updatedAt=1720009687296"
                  type="video/mp4"
                />
              </video>
              <div class="absolute inset-0 bg-black opacity-50"></div>
              <!-- Content -->
              <div
                class="max-w-3xl px-4 py-4 sm:px-6 sm:py-6 lg:max-w-3xl lg:px-24 relative"
              >
                <div class="">
                  <h1
                    class="text-4xl font-bold tracking-tight text-white sm:text-4xl"
                  >
                    Pipeline Inspection
                  </h1>
                  <p class="mt-6 font-thin leading-8 text-white">
                    💧 Navigate underwater pipelines to detect potential leaks
                    or damages.
                  </p>
                  <p class="mt-6 font-thin leading-8 text-white">
                    💧 Ensure the safety and functionality of critical
                    infrastructure.
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
<!-- price -->
<section>
  <div class="relative bg-white overflow-hidden">
    <!-- Content -->
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
    >
      <div class="text-center">
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl title"
        >
          Pricing
        </p>

        <p
          class="text-4xl capitalize font-semibold tracking-tight text-gray-800 sm:text-4xl title"
        ></p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-12">
        <!-- Plan 1 -->
        <div class="bg-gray-100 p-6 rounded-md shadow-md text-center space-y-4">
          <h3 class="text-xl font-semibold">Basic</h3>

          <p class="text-3xl font-bold mb-12 text-blue-800">৳ 170,000.00</p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> 1 Pilot & 1 Diver
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> Software Generated Report
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> 3 Hours Inspection
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> Enhanced Video Footage
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-times-circle text-danger-600"></i> Robot
            Manipulator
          </p>
        </div>
        <div
          class="p-6 rounded-md shadow-md text-center space-y-4"
          style="background: linear-gradient(-45deg, #00a1ab, #3741a0)"
        >
          <h3 class="text-xl font-semibold text-white">Essential</h3>

          <p class="text-3xl font-bold mb-12 text-white">৳ 225,000.00</p>
          <p class="text-white text-lg">
            <i class="fas fa-check-circle"></i> 1 Pilot & 1 Diver
          </p>
          <p class="text-white text-lg">
            <i class="fas fa-check-circle"></i> Software Generated Report
          </p>
          <p class="text-white text-lg">
            <i class="fas fa-check-circle"></i> 8 Hours Inspection
          </p>
          <p class="text-white text-lg">
            <i class="fas fa-check-circle"></i> Enhanced Video Footage
          </p>
          <p class="text-white text-lg">
            <i class="fas fa-check-circle"></i> Robot Manipulator
          </p>
        </div>
        <div class="bg-gray-100 p-6 rounded-md shadow-md text-center space-y-4">
          <h3 class="text-xl font-semibold">Premium</h3>

          <p class="text-3xl font-bold mb-12 text-blue-800">৳ 520,000.00</p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> 1 Pilot & 3 Divers
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> Software Generated Report
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> 3 Days Inspection
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> Enhanced Video Footage
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> Robot Manipulator
          </p>
          <p class="text-gray-600 text-lg">
            <i class="fas fa-check-circle"></i> + All of Essentials
          </p>
        </div>
      </div>

      <div class="flex items-center justify-center mt-6 space-x-6">
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-gray-700 sm:text-6xl"
        >
          50%
        </p>

        <p
          class="tracking-tight capitalize text-gray-700 text-lg text-justify font-semibold"
        >
          easy, quick, and affordable inspection, plus save up to 50% in cost.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- offerings -->
<div class="relative bg-blue-900">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="text-center">
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-white sm:text-4xl"
      >
        Key benefits of using ROV for underwater inspections
      </p>
      <p class="tracking-tight capitalize text-white text-lg text-center">
        Join us on a journey where safety, speed, and savings come together
        beneath the surface.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-16">
      <div class="rounded-md shadow-md p-3 shadow-gray-600 bg-white">
        <div class="flex flex-col items-center justify-center">
          <div class="overflow-hidden">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/in1.jpg?updatedAt=1719836334311"
              class="object-cover rounded w-auto h-16"
              alt=""
            />
          </div>
          <div class="flex flex-col">
            <p class="text-center font-semibold text-lg">
              Auto Generated Report
            </p>
            <p class="text-center text-lg">
              <span class="font-thin"
                >Receive instant, live reports for on-the-spot decision-making.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="shadow-lg rounded-xl p-3 shadow-gray-600 bg-white">
        <div class="flex flex-col items-center justify-center">
          <div class="overflow-hidden">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/in2.jpg?updatedAt=1719836334753"
              class="object-cover rounded w-auto h-16"
              alt=""
            />
          </div>
          <div class="flex flex-col">
            <p class="text-center font-semibold text-lg">
              Seamless Control Panel
            </p>
            <p class="text-center text-lg">
              <span class="font-thin"
                >Offers access to previous reports and projects data for future
                reporting.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="shadow-lg rounded-xl p-3 shadow-gray-600 bg-white">
        <div class="flex flex-col items-center justify-center">
          <div class="overflow-hidden">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/in3.jpg?updatedAt=1719836335051"
              class="object-cover rounded w-auto h-16"
              alt=""
            />
          </div>
          <div class="flex flex-col">
            <p class="text-center font-semibold text-lg">Vr Enabled</p>
            <p class="text-center text-lg">
              <span class="font-thin"
                >We have enabled VR, unlocking immersive realms at your
                fingertips.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="shadow-lg rounded-xl p-3 shadow-gray-600 bg-white">
        <div class="flex flex-col items-center justify-center">
          <div class="overflow-hidden">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/in4.jpg?updatedAt=1719836335171"
              class="object-cover rounded w-auto h-16"
              alt=""
            />
          </div>
          <div class="flex flex-col">
            <p class="text-center font-semibold text-lg">
              Cost-Cutting Excellence
            </p>
            <p class="text-center text-lg">
              <span class="font-thin"
                >Save up to 60% on inspection expenses with our streamlined
                solutions.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="shadow-lg rounded-xl p-3 shadow-gray-600 bg-white">
        <div class="flex flex-col items-center justify-center">
          <div class="overflow-hidden">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/in5.jpg?updatedAt=1719836335618"
              class="object-cover rounded w-auto h-16"
              alt=""
            />
          </div>
          <div class="flex flex-col">
            <p class="text-center font-semibold text-lg">
              Speed and Efficiency
            </p>
            <p class="text-center text-lg">
              <span class="font-thin"
                >Double the pace of inspections for swift and effective
                assessments.
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="shadow-lg rounded-xl p-3 shadow-gray-600 bg-white">
        <div class="flex flex-col items-center justify-center">
          <div class="overflow-hidden">
            <img
              src="https://ik.imagekit.io/dubotech/assets/img/in6.jpg?updatedAt=1719836336046"
              class="object-cover rounded w-auto h-16"
              alt=""
            />
          </div>
          <div class="flex flex-col">
            <p class="text-center font-semibold text-lg">Safety First</p>
            <p class="text-center text-lg">
              <span class="font-thin"
                >Empower divers with pre-entry information, prioritizing their
                safety.</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Software -->
<div class="relative overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="text-center">
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl title"
      >
        Cut Time spent on reporting with automation
      </p>
      <p
        class="tracking-tight capitalize text-gray-800 text-lg text-center font-thin"
      >
        Explore the ease, convenience, and automation of our user-friendly
        control panel and report software.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 mt-16">
      <div class="md:col-span-5">
        <img
          src="https://ik.imagekit.io/dubotech/assets/img/control.png?updatedAt=1725292917090"
          class="object-cover w-auto h-auto rounded-xl shadow-xl"
          alt="Inspectra Web"
        />
      </div>
      <div class="md:col-span-7 my-auto text-center">
        <p class="text-2xl font-semibold">Seamless Inspectra Control Panel</p>
        <p class="text-center text-lg">
          Offers access to previous reports and projects data for future
          reporting.
        </p>
      </div>
      <div class="md:col-span-5 md:order-2">
        <img
          src="https://ik.imagekit.io/dubotech/assets/img/web.png?updatedAt=1725292917063"
          class="object-cover w-auto h-auto rounded-xl shadow-xl"
          alt="Inspectra Web"
        />
      </div>
      <div class="md:col-span-7 my-auto text-center">
        <p class="text-2xl font-semibold">Auto Generated Report - Inspectra</p>
        <p class="text-center text-lg">
          Receive instant, live reports for on-the-spot decision-making.
        </p>
        <div class="mt-6 flex items-center justify-center">
          <a
            href="https://inspectra.dubotech.com/"
            target="_blank"
            class="px-3.5 py-2.5 text-sm font-semibold text-white border rounded-full bg-blue-800"
            >Explore Inspectra<span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- expert -->
<section id="expert">
  <div
    class="relative bg-gray-200 overflow-hidden isolate bg-cover bg-center bg-no-repeat"
    style="
      background-image: url('https://ik.imagekit.io/dubotech/assets/img/about-bg.png?updatedAt=1725293795893');
    "
  >
    <!-- Content -->
    <div
      class="mx-auto max-w-7xl px-4 py-6 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8 relative"
    >
      <div class="">
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl title"
        >
          Talk to an ROV expert
        </p>
        <p class="tracking-tight capitalize text-gray-800 text-lg font-medium">
          If you have any questions, please do not hesitate to reach out
          directly!
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-12 gap-8 mt-3">
        <div class="md:col-span-6 my-auto">
          <div class="grid grid-cols-3 gap-4">
            <div class="col-span-1 my-auto">
              <img
                src="https://ik.imagekit.io/dubotech/assets/img/1703470356131.jpeg?updatedAt=1725294220972"
                alt="arko"
                class="object-cover rounded-full"
              />
            </div>
            <div class="col-span-2 my-auto">
              <p class="text-lg font-medium">Sayantan Roy</p>
              <p class="text-lg font-medium">
                ROV Operations Expert, CTO of DuboTech
              </p>
              <p>
                <a
                  href="mailto:cto.dubotech@gmail.com"
                  class="text-sm font-medium"
                  >cto.dubotech@gmail.com</a
                >
              </p>
              <p>
                <a href="tel:+8801818797204" class="text-sm font-medium"
                  >+8801818797204</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="md:col-span-6 border border-blue-800 p-2">
          <p class="tracking-tight capitalize text-blue-800 text-lg font-bold">
            Start A Conversation
          </p>
          <form (ngSubmit)="onSubmit()" [formGroup]="addForm">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
              <div class="md:col-span-2">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label> Name</mat-label>
                  <input matInput type="text" formControlName="name" />
                  <mat-error
                    class="text-danger"
                    *ngIf="addForm.get('name')?.errors?.['required'] && addForm.get('name')?.touched"
                  >
                    Name is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="md:col-span-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label> Email</mat-label>
                  <input matInput type="email" formControlName="email" />
                  <mat-error
                    class="text-danger"
                    *ngIf="addForm.get('email')?.errors?.['required'] && addForm.get('email')?.touched"
                  >
                    Email is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="md:col-span-1">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label> Phone</mat-label>
                  <input matInput type="number" formControlName="phone" />
                  <mat-error
                    class="text-danger"
                    *ngIf="addForm.get('email')?.errors?.['required'] && addForm.get('email')?.touched"
                  >
                    Phone is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="md:col-span-2">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label> Company Name</mat-label>
                  <input matInput type="text" formControlName="company" />
                  <mat-error
                    class="text-danger"
                    *ngIf="addForm.get('company')?.errors?.['required'] && addForm.get('company')?.touched"
                  >
                    Company Name is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="md:col-span-2">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Message</mat-label>
                  <textarea
                    matInput
                    name="msg"
                    id=""
                    formControlName="msg"
                    rows="3"
                  ></textarea>
                  <mat-error
                    class="text-danger"
                    *ngIf="addForm.get('msg')?.errors?.['required'] && addForm.get('msg')?.touched"
                  >
                    Message is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="md:col-span-2 text-center">
                <button
                  type="submit"
                  class="text-sm font-normal leading-6 text-gray-50 border rounded-full py-2 px-12 bg-blue-800 {{
                    !addForm.valid ? 'cursor-not-allowed ' : ''
                  }}"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tech Dive -->
<div class="relative bg-white overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-6 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="text-center">
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl title"
      >
        Tech Dive
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 mt-16">
      <div class="md:col-span-4 my-auto text-center">
        <img
          src="https://ik.imagekit.io/dubotech/assets/img/ready.png?updatedAt=1722379408105"
          class="object-cover w-auto h-auto eidt-pic"
          alt="Dubotech Inspection"
        />
      </div>
      <div class="md:col-span-7">
        <table class="table-auto w-full shadow-md rounded">
          <thead>
            <tr>
              <th class="px-4 py-2 bg-gray-100 text-lg font-bold">Features</th>
              <th class="px-4 py-2 bg-gray-100 text-lg font-bold">
                Robot-Based Inspection (DuboTech)
              </th>
              <th class="px-4 py-2 bg-gray-100 text-lg font-bold">
                Diver-Based Inspection
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border px-4 py-2">Report Generation Software</td>
              <td class="border px-4 py-2">
                <span class="text-green-600">Automated, Quick, Precise</span>
              </td>
              <td class="border px-4 py-2">
                Manual, Time-Consuming, Prone to Human Errors
              </td>
            </tr>

            <tr>
              <td class="border px-4 py-2">Cost</td>
              <td class="border px-4 py-2">
                <span class="text-green-600"
                  >Cost-Effective, 50% Expense Reduction</span
                >
              </td>
              <td class="border px-4 py-2">
                Higher Due to Diver Training and Safety
              </td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Time Efficiency</td>
              <td class="border px-4 py-2">
                <span class="text-green-600">Twice as Fast, Efficient</span>
                <i
                  class="fas fa-clock text-gray-500"
                  data-toggle="tooltip"
                  title="Learn how DuboTech saves you time"
                ></i>
              </td>
              <td class="border px-4 py-2">
                Slower, Dependent on Diver's Pace
              </td>
            </tr>
            <tr>
              <td class="border px-4 py-2">Safety</td>
              <td class="border px-4 py-2">
                <span class="text-green-600"
                  >Reduced Risk in Hazardous Areas</span
                >
                <i
                  class="fas fa-shield-alt text-gray-500"
                  data-toggle="tooltip"
                  title="Learn about DuboTech's safety features"
                ></i>
              </td>
              <td class="border px-4 py-2">
                Higher Risk in Challenging Conditions
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
