<div
  class="relative bg-gray-700 isolate px-6 lg:px-8 min-h-screen flex items-center justify-center"
>
  <video
    autoplay
    loop
    playsinline
    [muted]="true"
    class="absolute top-0 left-0 w-full h-full object-cover"
  >
    <source src="assets/video/rover-mini_2.mp4" type="video/mp4" />
  </video>
  <div class="absolute inset-0 bg-black opacity-70"></div>
  <div class="mx-auto max-w-4xl relative z-10">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        DUBO-TECH AUV
      </h1>
      <p class="mt-6 text-lg md:text-2xl leading-8 text-white">
        The next generation Autonomous Underwater Vehicle
      </p>
    </div>
  </div>
</div>

<div class="relative bg-white overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <!-- rover details -->
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
      <div class="md:col-span-7 my-auto">
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-gray-800 sm:text-4xl"
        >
          DuboTech Underwater Rover
        </p>
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-info-700 sm:text-6xl"
        >
          A.U.V.
        </p>
        <img
          src="assets/img/v4.png"
          class="object-cover w-auto h-auto"
          alt=""
        />
      </div>
      <div class="md:col-span-5 my-auto">
        <div class="grid grid-cols-1 gap-y-4">
          <div>
            <p class="text-2xl font-semibold">
              <i class="fas fa-tachometer-alt"></i> Rapid Mobilization
            </p>
            <p class="text-lg">
              Be on site immediately, without the hassle of diesel generators
              and clunky topsides
            </p>
          </div>
          <div>
            <p class="text-2xl font-semibold">
              <i class="far fa-clock"></i> All day operation
            </p>
            <p class="text-lg">
              1000MAH onboard battery provides up to 5 hours of work It is the
              highest amount of energy for vehicles of this size, to help get
              more done even in high lateral currents.
            </p>
          </div>
          <div>
            <p class="text-2xl font-semibold">
              <i class="fas fa-bolt"></i> Extension of Life
            </p>
            <p class="text-lg">
              Sub-sea rated battery packs and hot swap ensuring the system
              remains powered and potential leak failures are minimized.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative bg-white overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
      <div class="md:col-span-5 text-center md:order-2">
        <img
          src="assets/img/cpu.png"
          class="object-cover w-auto h-auto"
          alt=""
        />
      </div>
      <div class="md:col-span-7 my-auto md:order-1">
        <p class="text-2xl font-semibold">Two Brains</p>
        <p class="text-2xl font-semibold text-info-700">
          Unlimited Possibilities
        </p>
        <p class="text-lg">
          DuboTech AUV is the powerful computing platform underwater. The fast
          processing power of the CPU allows for instantaneous decisions, based
          on the numerous sensor inputs. The parallelism of the GPU enables the
          best of machine learning algorithms to unlock autonomy.
        </p>
      </div>
    </div>
  </div>
</div>
