<!-- banner -->

<div
  class="relative isolate bg-gray-700 px-6 lg:px-8 bg-cover bg-center min-h-screen flex items-center justify-center"
  style="
    background-image: url('assets/img/inspection_2.png');
    background-size: cover;
  "
>
  <div class="mx-auto max-w-3xl">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Underwater Autonomous Vehicles & Robots
      </h1>
      <p class="mt-6 text-lg md:text-2xl leading-8 text-white">
        Effortlessly survey the depths with our rugged underwater drones, built
        to withstand the toughest of missions.
      </p>
      <div class="mt-6 flex items-center justify-center">
        <a
          routerLink="/"
          fragment="home"
          matTooltip="Click to learn more"
          class="px-3.5 py-2.5 text-sm font-semibold text-white button-50_1"
          >Learn More <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</div>

<!-- who are we? -->

<section id="home">
  <div class="relative bg-info-900 overflow-hidden">
    <!-- Bubbles -->
    <div class="bubbles">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
    </div>

    <!-- Content -->
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 relative z-20"
    >
      <div class="grid grid-cols-1 md:grid-cols-12">
        <div class="md:col-span-4 my-auto text-center md:text-left">
          <p
            class="text-4xl capitalize font-semibold tracking-tight text-white sm:text-6xl"
          >
            Who are we?
          </p>
        </div>
        <div class="md:col-span-8">
          <p class="tracking-tight text-white text-lg text-justify">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet,
            nostrum incidunt. Modi totam sunt cumque tempora, libero vel eveniet
            molestias ab quo quaerat sit illum alias, sequi mollitia saepe,
            nostrum fuga corrupti ex neque adipisci vero maxime cupiditate
            repellat suscipit!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- services -->
<div class="relative bg-info-100 overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="text-center">
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-gray-800 sm:text-4xl title"
      >
        <span class="tapered2"> Professional use</span>
      </p>
    </div>
    <div
      class="flex flex-col md:flex-row items-center justify-center gap-6 mt-12"
    >
      <div class="group relative">
        <a routerLink="inspection" matTooltip="DuboTech || Inspection">
          <img
            src="assets/img/inspection_back.png"
            alt=""
            class="object-cover h-auto w-auto group-hover:opacity-50 transition duration-500 ease-in-out"
          />
          <div class="absolute inset-0 bg-black opacity-70"></div>
          <div
            class="absolute inset-0 flex flex-col items-center justify-center z-10"
          >
            <div>
              <p class="font-semibold text-white text-xl">Inspection</p>
            </div>
            <div>
              <p class="font-thin text-white capitalize text-lg">
                Underwater Inspection simplified
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="group relative">
        <a routerLink="/tourism" matTooltip="DuboTech || Tourism">
          <img
            src="assets/img/tourism.png"
            alt=""
            class="object-cover h-auto w-auto group-hover:opacity-50 transition duration-500 ease-in-out"
          />
          <div class="absolute inset-0 bg-black opacity-70"></div>
          <div
            class="absolute inset-0 flex flex-col items-center justify-center z-10"
          >
            <div>
              <p class="font-semibold text-white text-xl">Explore</p>
            </div>
            <div>
              <p class="font-thin text-white capitalize text-lg">
                Making waves, making water bluer
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- sponsor -->
<app-sponsor></app-sponsor>

<!-- inspection -->
<app-inspection-banner></app-inspection-banner>

<!-- tourism -->
<app-tourism-banner></app-tourism-banner>
<!-- rover config -->

<div class="relative bg-info-100 overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
      <div class="md:col-span-5 my-auto mx-auto md:order-2">
        <img
          src="assets/img/v4.png"
          class="object-cover w-auto h-auto"
          alt=""
        />
      </div>
      <div class="md:col-span-7">
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-gray-800 sm:text-4xl"
        >
          DuboTech Underwater Rover
        </p>
        <p class="tracking-tight text-gray-800 text-lg text-justify font-thin">
          The ultimate tool for professionals. Get the overview you need to
          inspect your assets below the surface.
        </p>

        <div class="grid grid-cols-2 md:grid-cols-3 gap-8 mt-6">
          <div class="grid grid-cols-3 gap-x-2">
            <div class="overflow-hidden">
              <img
                src="assets/img/weight.png"
                class="object-cover w-auto h-auto"
                alt=""
              />
            </div>
            <div class="col-span-2 my-auto">
              <div class="flex flex-col">
                <p>Weight</p>
                <p><span class="font-semibold">23kg</span></p>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-3 gap-x-2">
            <div class="overflow-hidden">
              <img
                src="assets/img/ptz-camera.png"
                class="object-cover w-auto h-auto"
                alt=""
              />
            </div>
            <div class="col-span-2 my-auto">
              <div class="flex flex-col">
                <p>Camera</p>
                <p><span class="font-semibold">Tilt</span></p>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-3 gap-x-2">
            <div class="overflow-hidden">
              <img
                src="assets/img/battery-charged.png"
                class="object-cover w-auto h-auto"
                alt=""
              />
            </div>
            <div class="col-span-2 my-auto">
              <div class="flex flex-col">
                <p>Battery</p>
                <p><span class="font-semibold">5 hrs+</span></p>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-3 gap-x-2">
            <div class="overflow-hidden">
              <img
                src="assets/img/depth.png"
                class="object-cover w-auto h-auto"
                alt=""
              />
            </div>
            <div class="col-span-2 my-auto">
              <div class="flex flex-col">
                <p>Depth</p>
                <p><span class="font-semibold">30m</span></p>
              </div>
            </div>
          </div>
        </div>

        <a
          routerLink="/auv"
          matTooltip="Explore The AUV"
          class="mt-6 px-3.5 py-2.5 text-sm font-semibold text-white button-50_1"
          >Find Out More
        </a>
      </div>
    </div>
  </div>
</div>
