<!-- Angular Material Form -->
<div class="flex justify-center items-center h-screen">
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="large"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="true"
  >
    <p style="color: white">Loading...</p>
  </ngx-spinner>

  <mat-card class="p-6">
    <mat-card-title class="text-3xl font-semibold mb-6"
      >Admin Login</mat-card-title
    >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email Input -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>

      <!-- Password Input -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <!-- Submit Button -->
      <button
        mat-flat-button
        type="submit"
        [disabled]="!loginForm.valid"
        class="w-fit rounded-md border border-transparent px-6 py-3 text-base font-medium text-white shadow-sm {{
          !loginForm.valid
            ? 'cursor-not-allowed'
            : 'bg-info-600 hover:bg-info-700'
        }}"
      >
        Login
      </button>
    </form>

    <!-- Forgot Password Link -->
    <div class="mt-4 text-sm text-gray-600">
      <a routerLink="/admin/forget-password">Forgot Password?</a>
    </div>

    <!-- Register Link -->
    <div class="mt-2 text-sm text-gray-600">
      <p>
        Don't have an account?
        <a routerLink="/admin/register">
          <span class="text-info-700">Register here</span>
        </a>
      </p>
    </div>
  </mat-card>
</div>
