<div
  class="relative isolate px-6 lg:px-8 mt-12 bg-cover bg-center"
  style="background-image: url('assets/img/banner.png')"
>
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <nav aria-label="Breadcrumb">
      <ol
        role="list"
        class="mx-auto flex max-w-2xl items-center space-x-2 lg:max-w-full"
      >
        <li>
          <div class="flex items-center">
            <a routerLink="/" class="mr-2 text-sm font-medium text-white"
              >Home</a
            >
            <svg
              width="16"
              height="20"
              viewBox="0 0 16 20"
              fill="currentColor"
              aria-hidden="true"
              class="h-5 w-4 text-gray-300"
            >
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <a
            routerLink="/contact-us"
            aria-current="page"
            class="font-medium text-white hover:text-info-900"
            >Contact Us</a
          >
        </li>
      </ol>
    </nav>

    <div class="">
      <h1
        class="text-4xl capitalize font-bold tracking-tight text-white sm:text-6xl"
      >
        Write To us
      </h1>
    </div>
  </div>
</div>
<section>
  <div class="relative bg-white overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="shadow-lg rounded-xl p-3">
          <div class="flex flex-col items-center justify-center">
            <div class="overflow-hidden">
              <img
                src="assets/img/lab.png"
                class="object-cover rounded-full w-auto h-16"
                alt=""
              />
            </div>
            <div class="flex flex-col">
              <p class="text-center font-semibold text-lg">Headquarter</p>
              <p class="text-center">
                <span class="font-thin">DuboTech </span>
              </p>

              <address>{{ contact.address }}</address>
            </div>
          </div>
        </div>
        <div class="shadow-lg rounded-xl p-3">
          <div class="flex flex-col items-center justify-center">
            <div class="overflow-hidden">
              <img
                src="assets/img/support.png"
                class="object-cover rounded-full w-auto h-16"
                alt=""
              />
            </div>
            <div class="flex flex-col">
              <p class="text-center font-semibold text-lg">Support</p>

              <p class="text-center">
                <span class="font-thin text-info-700"
                  ><a href="mailto:{{ contact.support_email }}">{{
                    contact.support_email
                  }}</a>
                </span>
              </p>
              <p class="text-center">
                <span class="font-thin text-info-700"
                  ><a href="tel:{{ contact.support_number }}">{{
                    contact.support_number
                  }}</a>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="md:col-span-2">
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                class="gmap_iframe"
                width="100%"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=650&amp;height=240&amp;hl=en&amp;q=brac university&amp;t=p&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ></iframe
              ><a href="https://connectionsgame.org/">Connections Unlimited</a>
            </div>
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                width: 100%;
                height: 240px;
              }

              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                width: 100%;
                height: 240px;
              }

              .gmap_iframe {
                height: 240px !important;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>
