<div
  class="relative bg-gray-700 isolate px-6 lg:px-8 min-h-[45vh] bg-cover bg-center flex items-center justify-center"
  style="
    background-image: url('https://ik.imagekit.io/dubotech/assets/img/ready.png?updatedAt=1722379408105');
  "
>
  <div class="max-w-full lg:px-24 relative z-10">
    <div class="">
      <h1
        class="text-7xl max-sm:text-5xl font-extrabold tracking-tight text-white"
      >
        DuboTech
      </h1>
      <h1
        class="text-7xl max-sm:text-5xl font-extrabold tracking-tight text-white text-center"
      >
        Store
      </h1>
    </div>
  </div>
</div>

<!-- search  -->
<section>
  <div class="overflow-hidden relative bg-gray-100">
    <div
      class="mx-auto max-w-7xl px-4 sm:px-6 lg:max-w-7xl py-1 lg:px-8 relative"
    >
      <div class="max-w-full grid grid-cols-1 md:grid-cols-4">
        <div class="md:col-span-1 mr-auto">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Select Category</mat-label>
            <mat-select (selectionChange)="onCategoryChange($event)">
              <mat-option value="all">All Category</mat-option>
              <mat-option
                *ngFor="let item of category_list"
                [value]="item.slug"
              >
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div></div>
        <div class="md:col-span-2 w-full">
          <label
            for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
            >Search</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
            </div>
            <input
              type="text"
              name="search_value"
              [(ngModel)]="search_value"
              (change)="getsearchValue()"
              class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search Product Name, Category, SKU"
            />
            <button
              (click)="getsearchValue()"
              type="button"
              class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ngx-spinner
  bdColor="rgba(0,0,0,0)"
  size="medium"
  color="#1e40af"
  type="square-loader"
  [fullScreen]="false"
></ngx-spinner>

<!-- Display filtered product list -->
<section *ngIf="filteredProductList && filteredProductList.length > 0">
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-4 sm:px-6 sm:py-4 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Search list - {{ search_value }}
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of filteredProductList">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- AUV -->
<section
  id="rov"
  *ngIf="AUV_List && AUV_List.length > 0 && filteredProductList.length == 0"
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-4 sm:px-6 sm:py-4 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        AUV From DuboTech
      </p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of AUV_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<!-- rov -->
<section
  id="rov"
  *ngIf="ROV_List && ROV_List.length > 0 && filteredProductList.length == 0"
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-4 sm:px-6 sm:py-4 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Underwater Rover From DuboTech
      </p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of ROV_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- Thrusters -->
<section
  id="rov"
  *ngIf="
    Thruster_List && Thruster_List.length > 0 && filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Thrusters
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of Thruster_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!--  camera -->

<section
  id="rov"
  *ngIf="
    camera_List && camera_List.length > 0 && filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        cameras
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of camera_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- light -->
<section
  id="rov"
  *ngIf="
    lights_List && lights_List.length > 0 && filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Underwater Lights
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of lights_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- grippers_List -->
<section
  id="rov"
  *ngIf="
    grippers_List && grippers_List.length > 0 && filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Manipulators & Grippers
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of grippers_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- sonars_List -->
<section
  id="rov"
  *ngIf="
    sonars_List && sonars_List.length > 0 && filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Sonar
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of sonars_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- sonar list -->
<section
  id="rov"
  *ngIf="
    sensors_List && sensors_List.length > 0 && filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        sensors
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of sensors_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- communication_List -->
<section
  id="rov"
  *ngIf="
    communication_List &&
    communication_List.length > 0 &&
    filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Communication, Control and Power
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of communication_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- enclosures_List -->
<section
  id="rov"
  *ngIf="
    enclosures_List &&
    enclosures_List.length > 0 &&
    filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        Enclosures and Buoyancy
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of enclosures_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- cables -->
<section
  id="rov"
  *ngIf="
    cables_List && cables_List.length > 0 && filteredProductList.length == 0
  "
>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        cables, penetrators, tethers and connectors
      </p>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-5">
        <!-- product listing -->
        <ng-container *ngFor="let item of cables_List">
          <!-- product -->
          <app-product-card [item]="item"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>
