<div class="relative bg-info-100 overflow-hidden">
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <form (ngSubmit)="onSubmit()" [formGroup]="addForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6">
          <div class="md:col-span-2">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label> Name</mat-label>
              <input matInput type="text" formControlName="name" />
              <mat-error
                *ngIf="addForm.get('name')?.errors?.['required'] && addForm.get('name')?.touched"
              >
                Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="md:col-span-2">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label> Email</mat-label>
              <input matInput type="text" formControlName="email" />
              <mat-error
                *ngIf="addForm.get('email')?.errors?.['required'] && addForm.get('email')?.touched"
              >
                Email is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="md:col-span-2">
            <mat-form-field class="w-full">
              <mat-label>How can we help you?</mat-label>

              <mat-select formControlName="subject">
                <mat-option value="We want inspection support"
                  >We want inspection support</mat-option
                >
                <mat-option value="We want to know more about you"
                  >We want to know more about you</mat-option
                >
                <mat-option value="We want to collaborate"
                  >We want to collaborate</mat-option
                >
                <mat-option value="We want to order custom rover"
                  >We want to order custom rover</mat-option
                >
                <mat-option value="We want maintaince support"
                  >We want maintaince support</mat-option
                >
                <mat-option value="Feedback & Suggestion"
                  >Feedback & Suggestion</mat-option
                >
                <mat-option value="Looking for Job">Looking for Job</mat-option>
              </mat-select>

              <mat-error
                *ngIf="addForm.get('subject')?.errors?.['required'] && addForm.get('subject')?.touched"
              >
                This Field is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="grid grid-cols-1">
          <div>
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Message</mat-label>
              <textarea
                matInput
                name="address"
                id=""
                formControlName="msg"
                rows="8"
              ></textarea>
              <mat-error
                *ngIf="addForm.get('msg')?.errors?.['required'] && addForm.get('msg')?.touched"
              >
                Message is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="md:col-span-2 text-center">
          <p class="font-thin">
            DuboTech is committed to protecting and respecting your privacy, and
            we’ll only use your personal information to provide the products and
            services you requested from us.
          </p>
        </div>

        <div class="md:col-span-2 text-center">
          <button
            mat-flat-button
            type="submit"
            class="w-fit rounded-md border border-transparent px-6 py-3 text-base font-medium text-white shadow-sm  {{
              !addForm.valid
                ? 'cursor-not-allowed bg-info-600 '
                : 'bg-info-600 hover:bg-info-700'
            }}"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
