<div class="grid grid-cols-1 md:grid-cols-12 gap-8 mt-5">
  <div class="md:col-span-5 my-auto mx-auto md:order-2">
    <img
      src="https://ik.imagekit.io/dubotech/assets/img/tuna.png?updatedAt=1719836350196"
      class="object-cover w-auto h-auto"
      alt=""
    />
  </div>
  <div class="md:col-span-7 my-auto">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-8 mt-6">
      <div class="grid grid-cols-3 gap-x-2">
        <div class="overflow-hidden">
          <img
            src="https://ik.imagekit.io/dubotech/assets/img/weight_1.png?updatedAt=1719836359592"
            class="object-cover w-auto h-auto"
            alt=""
          />
        </div>
        <div class="col-span-2 my-auto">
          <div class="flex flex-col">
            <p>Weight</p>
            <p><span class="font-semibold">15kg</span></p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-x-2">
        <div class="overflow-hidden">
          <img
            src="https://ik.imagekit.io/dubotech/assets/img/ptz-camera_1.png?updatedAt=1719836342744"
            class="object-cover w-auto h-auto"
            alt=""
          />
        </div>
        <div class="col-span-2 my-auto">
          <div class="flex flex-col">
            <p>Camera</p>
            <p><span class="font-semibold">Tilt</span></p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-x-2">
        <div class="overflow-hidden">
          <img
            src="https://ik.imagekit.io/dubotech/assets/img/battery-charged_1.png?updatedAt=1719836327071"
            class="object-cover w-auto h-auto"
            alt=""
          />
        </div>
        <div class="col-span-2 my-auto">
          <div class="flex flex-col">
            <p>Battery</p>
            <p><span class="font-semibold">3 hrs+</span></p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-x-2">
        <div class="overflow-hidden">
          <img
            src="https://ik.imagekit.io/dubotech/assets/img/depth_1.png?updatedAt=1719836330144"
            class="object-cover w-auto h-auto"
            alt=""
          />
        </div>
        <div class="col-span-2 my-auto">
          <div class="flex flex-col">
            <p>Depth</p>
            <p><span class="font-semibold">100m</span></p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-x-2">
        <div class="overflow-hidden">
          <img
            src="https://ik.imagekit.io/dubotech/assets/img/exc_support_1.png?updatedAt=1719836332693"
            class="object-cover w-auto h-auto"
            alt=""
          />
        </div>
        <div class="col-span-2 my-auto">
          <div class="flex flex-col">
            <p>Excellent</p>
            <p><span class="font-semibold">Support</span></p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-x-2">
        <div class="overflow-hidden">
          <img
            src="https://ik.imagekit.io/dubotech/assets/img/spec_1.png?updatedAt=1719836344482"
            class="object-cover w-auto h-auto"
            alt=""
          />
        </div>
        <div class="col-span-2 my-auto">
          <div class="flex flex-col">
            <p>Multiple Spectators</p>
            <p><span class="font-semibold">Observer App</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6">
      <a
        routerLink="/about/auv"
        matTooltip="Explore The Rover"
        class="px-6 py-3.5 text-sm font-semibold text-white border rounded-full bg-blue-800"
        >Find Out More</a
      >
    </div>
  </div>
</div>
