<header class="bg-white fixed top-0 z-50 w-full shadow-2xl">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-3 lg:px-8 z-50"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a routerLink="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Dubo Tech</span>
        <img class="h-12 w-auto" src="assets/img/logo.png" alt="" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        (click)="toggleMobileMenu()"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <!-- <a
        routerLink="/"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
        >Home</a
      > -->
      <a
        routerLink="/auv"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
        >AUV</a
      >
      <a
        routerLink="/about-us"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
        >About Us</a
      >

      <!-- <div
        class="relative"
        (mouseenter)="toggleAboutSubMenu_(true)"
        (mouseleave)="toggleAboutSubMenu_(false)"
      >
        <button
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
          aria-expanded="false"
        >
          About Us
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div
          *ngIf="showAboutSubMenu"
          class="absolute top-full z-10 w-screen max-w-[10rem] overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div class="flex flex-col items-center justify-center p-2">
            <div
              class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a routerLink="/about-us" class="block font-thin text-gray-900">
                  Our Story
                  <span class="absolute inset-0"></span>
                </a>
        </div>
        </div>
        <div class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50">
            <div class="flex-auto">
                <a routerLink="/about-us" fragment="vision" class="block font-thin text-gray-900">
                  Our Vision
                  <span class="absolute inset-0"></span>
                </a>
            </div>
        </div>
        <div class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50">
            <div class="flex-auto">
                <a routerLink="/about-us" fragment="team" class="block font-thin text-gray-900">
                  Our Team
                  <span class="absolute inset-0"></span>
                </a>
            </div>
        </div>
        <div class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50">
            <div class="flex-auto">
                <a routerLink="/about-us" fragment="choose" class="block font-thin text-gray-900">
                  Why Choose Us
                  <span class="absolute inset-0"></span>
                </a>
            </div>
        </div>
        </div>
        </div>
        </div> -->

      <div
        class="relative"
        (mouseenter)="toggleServicesSubMenu_(true)"
        (mouseleave)="toggleServicesSubMenu_(false)"
      >
        <button
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
          aria-expanded="false"
        >
          Services
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div
          *ngIf="showServicesSubMenu"
          class="absolute top-full z-10 w-screen max-w-[10rem] overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div class="flex flex-col items-center justify-center p-2">
            <div
              class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a
                  routerLink="/inspection"
                  class="block font-thin text-gray-900"
                >
                  Inspection
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div
              class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a routerLink="/tourism" class="block font-thin text-gray-900">
                  Tourism
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a
        routerLink="/blog"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
        >Blog</a
      >
      <a
        routerLink="/#"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
        >Gallery</a
      >
      <!-- <div
        class="relative"
        (mouseenter)="toggleMediaSubMenu_(true)"
        (mouseleave)="toggleMediaSubMenu_(false)"
      >
        <button
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
        >
          Media
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div
          *ngIf="showMediaSubMenu"
          class="absolute top-full z-10 w-screen max-w-[10rem] overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div class="flex flex-col items-center justify-center p-2">
            <div
              class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a routerLink="/blog" class="block font-thin text-gray-900">
                  Blog
                  <span class="absolute inset-0"></span>
                </a>
        </div>
        </div>
        <div class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50">
            <div class="flex-auto">
                <a href="#" class="block font-thin text-gray-900">
                  Gallery
                  <span class="absolute inset-0"></span>
                </a>
            </div>
        </div>
        </div>
        </div>
        </div> -->
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a
        routerLink="/contact-us"
        class="text-sm font-semibold leading-6 text-white button-50_1"
        >Contact Us</a
      >
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true" *ngIf="showMobileMenu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a (click)="toggleMobileMenu()" routerLink="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-12 w-auto object-cover"
            src="assets/img/logo.png"
            alt=""
          />
        </a>
        <button
          (click)="toggleMobileMenu()"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              (click)="toggleMobileMenu()"
              routerLink="/"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Home</a
            >
            <a
              (click)="toggleMobileMenu()"
              routerLink="/auv"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >AUV</a
            >
            <div class="-mx-3">
              <button
                (click)="toggleAboutSubMenu()"
                type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="disclosure-1"
                aria-expanded="false"
              >
                About Us
                <!--
                    Expand/collapse icon, toggle classes based on menu open state.
  
                    Open: "rotate-180", Closed: ""
                  -->
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <!-- 'Product' sub-menu, show/hide based on menu state. -->
              <div
                class="mt-2 space-y-2"
                id="disclosure-1"
                *ngIf="showAboutSubMenu"
              >
                <a
                  (click)="toggleMobileMenu()"
                  routerLink="/about-us"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-thin leading-7 text-gray-900 hover:bg-gray-50"
                  >Our Story</a
                >
                <a
                  (click)="toggleMobileMenu()"
                  routerLink="/about-us"
                  fragment="vision"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-thin leading-7 text-gray-900 hover:bg-gray-50"
                  >Our Vision</a
                >
                <a
                  (click)="toggleMobileMenu()"
                  routerLink="/about-us"
                  fragment="team"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-thin leading-7 text-gray-900 hover:bg-gray-50"
                  >Out Team</a
                >
                <a
                  (click)="toggleMobileMenu()"
                  routerLink="/about-us"
                  fragment="choose"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-thin leading-7 text-gray-900 hover:bg-gray-50"
                  >Why Choose Us</a
                >
              </div>
            </div>
            <div class="-mx-3">
              <button
                (click)="toggleServicesSubMenu()"
                type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="disclosure-1"
                aria-expanded="false"
              >
                Services
                <!--
                    Expand/collapse icon, toggle classes based on menu open state.
  
                    Open: "rotate-180", Closed: ""
                  -->
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <!-- 'Product' sub-menu, show/hide based on menu state. -->
              <div
                class="mt-2 space-y-2"
                id="disclosure-1"
                *ngIf="showServicesSubMenu"
              >
                <a
                  (click)="toggleMobileMenu()"
                  routerLink="/inspection"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-thin leading-7 text-gray-900 hover:bg-gray-50"
                  >Inspection</a
                >
                <a
                  (click)="toggleMobileMenu()"
                  routerLink="/tourism"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-thin leading-7 text-gray-900 hover:bg-gray-50"
                  >Tourism</a
                >
              </div>
            </div>
            <div class="-mx-3">
              <button
                (click)="toggleMediaSubMenu()"
                type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="disclosure-1"
                aria-expanded="false"
              >
                Media
                <!--
                    Expand/collapse icon, toggle classes based on menu open state.
  
                    Open: "rotate-180", Closed: ""
                  -->
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <!-- 'Product' sub-menu, show/hide based on menu state. -->
              <div
                class="mt-2 space-y-2"
                id="disclosure-1"
                *ngIf="showMediaSubMenu"
              >
                <a
                  (click)="toggleMobileMenu()"
                  routerLink="/blog"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-thin leading-7 text-gray-900 hover:bg-gray-50"
                  >Blog</a
                >
                <a
                  (click)="toggleMobileMenu()"
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-thin leading-7 text-gray-900 hover:bg-gray-50"
                  >Gallery</a
                >
              </div>
            </div>

            <a
              (click)="toggleMobileMenu()"
              routerLink="/contact-us"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
