<header
  [ngClass]="{ 'bg-blue-800': scrolledDown }"
  class="fixed top-0 z-50 w-full"
>
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-3 lg:px-8 z-50"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a routerLink="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Dubo Tech</span>
        <img
          class="h-12 w-auto"
          src="https://ik.imagekit.io/dubotech/assets/img/logo-white-c.png?updatedAt=1719836340591"
          alt=""
        />
      </a>
    </div>
    <div class="flex lg:hidden">
      <a
        routerLink="/shop/cart"
        class="text-xl font-thin hover:font-normal leading-6 text-gray-50 py-2 px-6"
        matTooltip="Go To Cart"
        ><i class="fas fa-shopping-cart"></i>{{ cartCount }}</a
      >
      <button
        (click)="toggleMobileMenu()"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-50"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <!-- <a
        routerLink="/"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
        >Home</a
      > -->
      <a
        routerLink="/about/about-us"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-normal hover:font-semibold leading-6 text-gray-100 py-2"
        >About Us</a
      >
      <a
        routerLink="/about/auv"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-normal hover:font-semibold leading-6 text-gray-100 py-2"
        >AUV</a
      >

      <!-- <a
        routerLink="/about/tourism"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-normal hover:font-semibold leading-6 text-gray-100 py-2"
        >Tourism</a
      > -->

      <!-- <div
        class="relative"
        (mouseenter)="toggleAboutSubMenu_(true)"
        (mouseleave)="toggleAboutSubMenu_(false)"
      >
        <button
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900 hover:text-info-700"
          aria-expanded="false"
        >
          About Us
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div
          *ngIf="showAboutSubMenu"
          class="absolute top-full z-10 w-screen max-w-[10rem] overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div class="flex flex-col items-center justify-center p-2">
            <div
              class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a routerLink="/about-us" class="block font-thin text-gray-900">
                  Our Story
                  <span class="absolute inset-0"></span>
                </a>
        </div>
        </div>
        <div class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50">
            <div class="flex-auto">
                <a routerLink="/about-us" fragment="vision" class="block font-thin text-gray-900">
                  Our Vision
                  <span class="absolute inset-0"></span>
                </a>
            </div>
        </div>
        <div class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50">
            <div class="flex-auto">
                <a routerLink="/about-us" fragment="team" class="block font-thin text-gray-900">
                  Our Team
                  <span class="absolute inset-0"></span>
                </a>
            </div>
        </div>
        <div class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50">
            <div class="flex-auto">
                <a routerLink="/about-us" fragment="choose" class="block font-thin text-gray-900">
                  Why Choose Us
                  <span class="absolute inset-0"></span>
                </a>
            </div>
        </div>
        </div>
        </div>
        </div> -->

      <div
        class="relative"
        (mouseenter)="toggleServicesSubMenu_(true)"
        (mouseleave)="toggleServicesSubMenu_(false)"
      >
        <button
          routerLink="/about"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          type="button"
          class="flex items-center gap-x-1 text-sm font-normal hover:font-semibold leading-6 py-2 text-gray-100"
          aria-expanded="false"
        >
          Services
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div
          *ngIf="showServicesSubMenu"
          class="absolute top-full z-10 w-screen max-w-[10rem] overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div class="flex flex-col items-center justify-center p-2">
            <div
              class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a
                  routerLink="/about/inspection"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                  class="block font-thin text-gray-900"
                >
                  Inspection
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
            <div
              class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a class="block font-thin text-gray-900">
                  Survey
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a
        class="text-sm font-normal hover:font-semibold leading-6 text-gray-100 py-2"
        >Application</a
      >

      <!-- <a
        routerLink="/about/blog"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-normal hover:font-semibold leading-6 text-gray-100 py-2"
        >Blog</a
      > -->
      <a
        routerLink="/about/news"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-normal hover:font-semibold leading-6 py-2 text-gray-100"
        >In The News</a
      >
      <a
        href="https://bracu-duburi.com/"
        target="_blank"
        class="text-sm font-normal hover:font-semibold leading-6 py-2 text-gray-100"
        >Our Research Team</a
      >
      <a
        routerLink="/shop"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-sm font-normal hover:font-semibold leading-6 py-2 text-gray-100"
        >Shop</a
      >

      <!-- <div
        class="relative"
        (mouseenter)="toggleMediaSubMenu_(true)"
        (mouseleave)="toggleMediaSubMenu_(false)"
      >
        <button
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
          aria-expanded="false"
        >
          Media
          <svg
            class="h-5 w-5 flex-none text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div
          *ngIf="showMediaSubMenu"
          class="absolute top-full z-10 w-screen max-w-[10rem] overflow-hidden rounded-xl bg-white shadow-lg ring-1 ring-gray-900/5"
        >
          <div class="flex flex-col items-center justify-center p-2">
            <div
              class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a routerLink="/blog" class="block font-thin text-gray-900">
                  Blog
                  <span class="absolute inset-0"></span>
                </a>
        </div>
        </div>
        <div class="group relative flex items-center rounded-lg p-2 text-sm leading-6 hover:bg-gray-50">
            <div class="flex-auto">
                <a href="#" class="block font-thin text-gray-900">
                  Gallery
                  <span class="absolute inset-0"></span>
                </a>
            </div>
        </div>
        </div>
        </div>
        </div> -->
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a
        routerLink="/about/contact-us"
        class="text-sm font-normal hover:font-semibold leading-6 text-gray-50 border rounded-full py-2 px-6"
        >Contact Us</a
      >
      <a
        routerLink="/shop/cart"
        class="text-xl font-thin hover:font-normal leading-6 text-gray-50 py-2 px-6"
        matTooltip="Go To Cart"
        ><i class="fas fa-shopping-cart"></i>{{ cartCount }}</a
      >
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true" *ngIf="showMobileMenu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a (click)="toggleMobileMenu()" routerLink="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-12 w-auto object-cover"
            src="https://ik.imagekit.io/dubotech/assets/img/logo.png?updatedAt=1719836340843"
            alt=""
          />
        </a>
        <div>
          <button
            (click)="toggleMobileMenu()"
            type="button"
            class="-m-2.5 rounded-md p-2.5 text-gray-700"
          >
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              (click)="toggleMobileMenu()"
              routerLink="/"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Home</a
            >
            <a
              (click)="toggleMobileMenu()"
              routerLink="/about/about-us"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >About-us</a
            >
            <a
              (click)="toggleMobileMenu()"
              routerLink="/about/auv"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >AUV</a
            >
            <a
              (click)="toggleMobileMenu()"
              routerLink="/about/inspection"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Inspection</a
            >
            <a
              (click)="toggleMobileMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Survey</a
            >
            <a
              (click)="toggleMobileMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Applications</a
            >
            <!-- <a
              (click)="toggleMobileMenu()"
              routerLink="/about/tourism"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Tourism</a
            > -->
            <!-- <a
              (click)="toggleMobileMenu()"
              routerLink="/about/blog"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Blog</a
            > -->
            <a
              (click)="toggleMobileMenu()"
              routerLink="/about/news"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >In The News</a
            >
            <a
              (click)="toggleMobileMenu()"
              href="https://bracu-duburi.com/"
              target="_blank"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Our Research Team</a
            >
            <a
              (click)="toggleMobileMenu()"
              routerLink="/shop"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Shop</a
            >

            <a
              (click)="toggleMobileMenu()"
              routerLink="/about/contact-us"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
