<div
  class="relative isolate min-h-screen overflow-hidden bg-cover bg-center"
  style="background-image: url('assets/img/back_3.jpg')"
>
  <div class="absolute inset-0 -bottom-56 md:-bottom-[90vh] left-0">
    <img
      ngx-parallax
      axe="y"
      [speed]="-60"
      src="https://ik.imagekit.io/dubotech/assets/img/back_2.jpg?updatedAt=1719836324441"
      class="object-cover w-full h-full"
      alt=""
    />
  </div>
  <!-- <div class="absolute inset-0 -bottom-56 md:-bottom-[90vh] left-0">
    <img
      ngx-parallax
      axe="y"
      [speed]="-70"
      src="assets/img/back_2.jpg"
      class="object-cover w-full h-full"
      alt=""
    />
  </div> -->

  <div class="flex items-center justify-center md:py-24 relative">
    <div class="max-w-7xl px-4 py-4 sm:px-6 sm:py-6 lg:max-w-3xl lg:px-8 z-10">
      <div class="text-center">
        <h1
          class="text-4xl font-semibold tracking-tight text-white sm:text-4xl"
        >
          Explore Underwater Possibilities
        </h1>
        <div class="flex items-center justify-center">
          <a
            routerLink="/about/tourism"
            matTooltip="Find out  Tourism Services"
            class="px-3.5 py-2.5 text-sm font-semibold text-white border rounded-full bg-blue-800"
            >Find Out More</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="absolute inset-0 flex items-end justify-center">
    <img
      src="https://ik.imagekit.io/dubotech/assets/img/human.png?updatedAt=1719836334545"
      class="object-cover h-[54vh] md:h-[64vh] w-auto"
      alt=""
    />
  </div>
</div>
<!-- <div ngx-parallax axes="y" [speed]="50" class="relative isolate bg-cover bg-center bg-fixed min-h-[90vh]" style="background-image: url('assets/img/back_2.jpg')">
    <div class="flex items-center justify-center md:py-24">
        <div class="max-w-7xl px-4 py-4 sm:px-6 sm:py-6 lg:max-w-3xl lg:px-8 z-10">
            <div class="text-center">
                <h1 class="text-4xl font-semibold tracking-tight text-white sm:text-4xl">
                    Explore Underwater Possibilities
                </h1>
                <div class="flex items-center justify-center">
                    <a routerLink="/tourism" matTooltip="click to learn more" class="px-3.5 py-2.5 text-sm font-semibold text-white button-50_1">
            Find Out More
          </a>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute inset-0 flex items-end justify-center">
        <img src="assets/img/human.png" class="object-cover h-[54vh] md:h-[64vh] w-auto" alt="" />
    </div>
</div> -->
