<div
  class="relative bg-blue-800 isolate px-6 lg:px-8 min-h-[10vh] bg-cover bg-center flex items-center justify-center"
></div>
<section>
  <div class="relative overflow-hidden">
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8 relative"
    >
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-blue-800 sm:text-4xl"
      >
        DuboTech cart View
      </p>
      <a
        routerLink="/shop"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-gray-500 mb-4 inline-block"
        >Back to Shop page</a
      >

      <div class="grid grid-cols-1 md:grid-cols-1 gap-8">
        <!-- product details -->
        <div>
          <ngx-spinner
            bdColor="rgba(0,0,0,0)"
            size="medium"
            color="#1e40af"
            type="square-loader"
            [fullScreen]="false"
          ></ngx-spinner>
          <div class="overflow-x-auto">
            <table class="min-w-full bg-white">
              <thead>
                <tr>
                  <th class="py-2 px-4 border-b text-left">Product</th>
                  <th class="py-2 px-4 border-b text-left">Price</th>
                  <th class="py-2 px-4 border-b text-left">Quantity</th>
                  <th class="py-2 px-4 border-b text-left">Subtotal</th>
                </tr>
              </thead>
              <tbody *ngIf="List['items'] && List['items'].length > 0">
                <ng-container *ngFor="let item of List['items']">
                  <tr>
                    <td class="py-4 px-4 border-b flex items-center">
                      <img
                        [defaultImage]="
                          'https://ik.imagekit.io/dubotech/assets/img/default.png'
                        "
                        lazyLoad="{{ item['product'].image }}"
                        class="object-cover w-12 h-12 mr-4"
                        alt=""
                      />
                      <a
                        routerLink="/shop/product/{{ item['product'].slug }}"
                        class="text-blue-800"
                        >{{ item["product"].name }}
                        <span class="text-danger-500"
                          >x {{ item.quantity }}</span
                        >
                      </a>
                    </td>
                    <td class="py-4 px-4 border-b">
                      {{
                        item["product"].price
                          | currency : "$ " : "symbol" : "1.0-2"
                      }}
                    </td>
                    <td class="py-4 px-4 border-b">{{ item.quantity }}</td>
                    <td class="py-4 px-4 border-b">
                      {{
                        item.item_total_price
                          | currency : "$ " : "symbol" : "1.0-2"
                      }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              <tbody>
                <tr *ngIf="List['items'] && List['items'].length == 0">
                  <td class="py-4 px-4 border-b" colspan="4">
                    <p class="text-center text-gray-500">
                      No items in the cart
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="flex justify-between mt-6">
            <button
              (click)="shareCart(List.slug)"
              matTooltip="Click here to copy link "
              class="bg-blue-700 text-white text-lg px-4 py-2 rounded-md hover:bg-blue-800"
            >
              <i class="far fa-copy"></i> {{ button_text }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
