<div
  class="relative bg-gray-700 isolate min-h-screen flex items-center justify-start"
>
  <video
    autoplay
    loop
    playsinline
    [muted]="true"
    [attr.poster]="
      'https://ik.imagekit.io/dubotech/assets/img/ready.png?updatedAt=1722379408105'
    "
    class="absolute top-0 left-0 w-full h-full object-cover"
    preload="none"
  >
    <source
      src="https://ik.imagekit.io/dubotech/assets/video/tuna_2.mp4?updatedAt=1719836491951"
      type="video/mp4"
    />
  </video>
  <div class="absolute inset-0 bg-black opacity-70"></div>
  <div
    class="relative z-10 mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    <div class="">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Discover <br />
        underwater possibilities <br />
        with Dubotech.
      </h1>
      <p class="mt-6 font-thin leading-8 text-white">
        Dubotech: Leaders in underwater inspection and exploration, unveiling
        the mysteries of the deep. Join us to redefine exploration and uncover
        the breathtaking beauty beneath the waves.
      </p>

      <div class="mt-6">
        <a
          routerLink="/"
          fragment="contact"
          matTooltip="Click to Contact Us"
          class="px-6 py-2.5 text-xl font-medium text-white border rounded-full bg-blue-800"
          >Contact Us <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</div>

<!-- dummy section starts -->
<div class="relative overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-8 sm:px-6 sm:py-16 lg:max-w-7xl lg:px-8 relative min-h-[100vh]"
  >
    <!-- dummy section  write from here-->
    <div
      class="flex flex-col md:flex-row items-center justify-between space-x-40"
    >
      <div class="md:w-1/2 mb-8 md:mb-0">
        <div class="mb-4">
          <span
            class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"
          >
            OUR BEST FEATURES
            <i class="fas fa-fire"> </i>
          </span>
        </div>
        <h1 class="text-4xl font-bold text-gray-900 mb-4">
          Unleash the full financial potential with our best features
        </h1>
        <p class="text-gray-600 mb-8">
          Leverage artificial intelligence algorithms to provide users with
          valuable insights, predictive analytics, and recommendations to
          optimize their processes and drive better business outcomes.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-8">
          <div class="bg-white p-6 rounded-lg shadow-md text-center">
            <div class="mb-4">
              <img
                alt="Customizable Dashboard Icon"
                class="mx-auto"
                height="50"
                src="https://placehold.co/50x50"
                width="50"
              />
            </div>
            <h3 class="text-lg font-semibold text-gray-900">
              Customizable Dashboard
            </h3>
          </div>
          <div class="bg-white p-6 rounded-lg shadow-md text-center">
            <div class="mb-4">
              <img
                alt="Financial Goal Tracking Icon"
                class="mx-auto"
                height="50"
                src="https://placehold.co/50x50"
                width="50"
              />
            </div>
            <h3 class="text-lg font-semibold text-gray-900">
              Financial Goal Tracking
            </h3>
          </div>
          <div class="bg-white p-6 rounded-lg shadow-md text-center">
            <div class="mb-4">
              <img
                alt="Cash Flow Management Icon"
                class="mx-auto"
                height="50"
                src="https://placehold.co/50x50"
                width="50"
              />
            </div>
            <h3 class="text-lg font-semibold text-gray-900">
              Cash Flow Management
            </h3>
          </div>
        </div>
        <button
          class="bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600"
        >
          Learn more
        </button>
      </div>
      <div class="md:w-1/2 flex flex-col items-center space-y-4">
        <div class="bg-gray-200 p-4 rounded-lg shadow-lg mb-4">
          <img
            alt="Financial Dashboard Screenshot"
            class="rounded-lg"
            height="400"
            src="https://placehold.co/600x400"
            width="600"
          />
        </div>
      </div>
    </div>
    <!-- end here -->
  </div>
</div>

<!-- dummy section ends -->
<div class="relative overflow-hidden">
  <!-- Content -->

  <div
    class="mx-auto max-w-7xl px-4 py-8 sm:px-6 sm:py-16 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="md:col-span-1 relative">
        <div class="shadow-lg">
          <img
            class="md:h-full w-full object-cover rounded-t-lg"
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/shark.png?updatedAt=1724793565149'
            "
          />

          <div
            class="absolute bottom-0 left-0 w-full bg-blue-800 bg-opacity-85 rounded-b-lg p-2"
          >
            <p class="text-white text-xl font-semibold">
              <a
                [href]="
                  'https://bongobd.com/watch/fR3cDgJ5SyO?contentUuid=c61551bd-2599-4d50-84fc-f9d9c428e54e'
                "
                target="_blank"
              >
                <i class="fas fa-hand-point-right"></i> Click Here to Watch
              </a>
            </p>
          </div>

          <!-- <div class="p-4 bg-blue-800 rounded-b-lg">
            <a
              class="venobox text-white text-xl font-semibold"
              data-autoplay="true"
              data-vbtype="video"
              [href]="
                'https://bongobd.com/watch/fR3cDgJ5SyO?contentUuid=c61551bd-2599-4d50-84fc-f9d9c428e54e'
              "
            >
              <i class="fas fa-hand-point-right"></i> Click Here to Watch
            </a>
          </div> -->
        </div>
      </div>
      <div class="md:col-span-1 my-auto">
        <div class="grid grid-cols-1 md:grid-cols-1 gap-8">
          <div class="col-span-1">
            <div class="embed-container rounded-xl">
              <iframe
                title="Dubotech"
                src="https://www.youtube.com/embed/A5-AGYEZduY?si=wHZHoYyiuKVozi70"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- who are we -->
  <div class="bg-gray-100">
    <div
      class="mx-auto max-w-7xl px-4 py-8 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8 relative"
    >
      <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
        <div class="md:col-span-4 md:order-2 my-auto">
          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-1">
              <div class="relative">
                <div class="shadow-lg">
                  <img
                    class="w-full object-cover rounded-lg"
                    [defaultImage]="
                      'https://ik.imagekit.io/dubotech/assets/img/default.png'
                    "
                    lazyLoad="https://ik.imagekit.io/dubotech/assets/img/resouce_2.png?updatedAt=1722304163932"
                  />
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="relative">
                <div class="shadow-lg">
                  <img
                    class="w-full object-cover rounded-lg"
                    [defaultImage]="
                      'https://ik.imagekit.io/dubotech/assets/img/default.png'
                    "
                    lazyLoad="https://ik.imagekit.io/dubotech/assets/img/infrastructer_2.png?updatedAt=1722304163977"
                  />
                </div>
              </div>
            </div>
            <div class="col-span-2">
              <div class="relative">
                <div class="shadow-lg">
                  <img
                    class="w-full object-cover rounded-lg"
                    [defaultImage]="
                      'https://ik.imagekit.io/dubotech/assets/img/default.png'
                    "
                    lazyLoad="https://ik.imagekit.io/dubotech/assets/img/rover.png?updatedAt=1724791800045"
                  />
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="col-span-1 relative">
                <div class="shadow-lg">
                  <img
                    class="w-full object-cover rounded-lg"
                    [defaultImage]="
                      'https://ik.imagekit.io/dubotech/assets/img/default.png'
                    "
                    lazyLoad="https://ik.imagekit.io/dubotech/assets/img/maritime_2.png?updatedAt=1722304163846"
                  />
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="col-span-1 relative">
                <div class="shadow-lg">
                  <img
                    class="w-full object-cover rounded-lg"
                    [defaultImage]="
                      'https://ik.imagekit.io/dubotech/assets/img/default.png'
                    "
                    lazyLoad="https://ik.imagekit.io/dubotech/assets/img/ready.png?updatedAt=1722379408105"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="md:col-span-8 md:order-1 my-auto">
          <h1 class="font-bold text-4xl text-blue-800">Who are we?</h1>
          <div class="max-w-xl">
            <p class="text-xl text-gray-800 text-justify">
              We're Dubotech, leading the charge in technology with a fiery
              passion for exploration. Our team is made up of brilliant minds
              committed to pushing boundaries and shaping the future.
            </p>
            <p class="text-xl text-gray-800 text-justify mt-5">
              Dubotech is at the forefront of technological advancement,
              steering into uncharted territories and reshaping the landscape of
              deep tech solutions. Specializing in cutting-edge underwater
              technology and autonomous systems, we are driven by a passion for
              pushing the limits of what technology can achieve. We craft
              autonomous underwater vehicles that delve into the mysteries of
              the deep, offering precision and efficiency in underwater
              exploration. From robotics to artificial intelligence, our
              solutions are designed to operate seamlessly, empowering
              industries with autonomous capabilities.
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-5">
      <div class="col-span-1 relative">
        <div class="shadow-lg">
          <img
            class="w-full object-cover rounded-lg"
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            lazyLoad="https://ik.imagekit.io/dubotech/assets/img/resouce_2.png?updatedAt=1722304163932"
          />

          <div
            class="absolute bottom-0 left-0 w-full bg-blue-800 bg-opacity-65 p-3 rounded-b-lg"
          >
            <p class="text-white text-xl">Resource</p>
          </div>
        </div>
      </div>
      <div class="col-span-1 relative">
        <div class="shadow-lg">
          <img
            class="w-full object-cover rounded-lg"
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            lazyLoad="https://ik.imagekit.io/dubotech/assets/img/maritime_2.png?updatedAt=1722304163846"
          />

          <div
            class="absolute bottom-0 left-0 w-full bg-blue-800 bg-opacity-65 p-3 rounded-b-lg"
          >
            <p class="text-white text-xl">Maritime</p>
          </div>
        </div>
      </div>
      <div class="col-span-1 relative">
        <div class="shadow-lg">
          <img
            class="w-full object-cover rounded-lg"
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            lazyLoad="https://ik.imagekit.io/dubotech/assets/img/infrastructer_2.png?updatedAt=1722304163977"
          />
          <div
            class="absolute bottom-0 left-0 w-full bg-blue-800 bg-opacity-65 p-3 rounded-b-lg"
          >
            <p class="text-white text-xl">Infrastructure</p>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
  <!-- inspection -->
  <app-inspection-banner></app-inspection-banner>

  <!-- sponsor -->
  <app-sponsor></app-sponsor>

  <app-rover-overview></app-rover-overview>
</div>
