<div class="bg-white">
  <div
    class="mx-auto max-w-7xl px-4 py-2 sm:px-6 sm:py-3 lg:max-w-7xl lg:px-8 relative"
  >
    <h2
      class="text-4xl capitalize font-bold tracking-tight text-blue-800 sm:text-4xl title"
    >
      <span class="">Our Partners and Investors</span>
    </h2>

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="carosoul">
          <img
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/starup.png?updatedAt=1724790011173'
            "
            alt="Startup Bangladesh"
            matTooltip="Startup Bangladesh"
            class="w-full object-cover"
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carosoul">
          <img
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/ict.png?updatedAt=1724790011415'
            "
            alt="ICT Division"
            matTooltip="ICT Division"
            class="w-full object-cover"
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carosoul">
          <img
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/nortek.png?updatedAt=1724790011193'
            "
            alt="Nortek"
            matTooltip="Nortek"
            class="w-full object-cover"
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carosoul">
          <img
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/vectonab.png?updatedAt=1724790010985'
            "
            alt="Vectornav"
            class="w-full object-cover"
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carosoul">
          <img
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/blue.png?updatedAt=1724790011111'
            "
            alt="BlueRobotics"
            width="158"
            height="48"
            matTooltip="BlueRobotics"
            class="w-full object-cover"
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carosoul">
          <img
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/duburi.png?updatedAt=1724790011116'
            "
            alt="BlueRobotics"
            width="158"
            height="48"
            matTooltip="BRACU DUBURI"
            class="w-full object-cover"
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="carosoul">
          <img
            [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            "
            [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/robi.png?updatedAt=1724790011383'
            "
            alt="Robi"
            class="w-full object-cover"
          />
        </div>
      </ng-template>
    </owl-carousel-o>
    <!-- <div
      class="mx-auto grid max-w-lg grid-cols-6 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-3 md:grid-cols-9 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-7"
    >
      <img
        class="col-span-3 max-h-12 w-full object-contain lg:col-span-1"
        [defaultImage]="
          'https://ik.imagekit.io/dubotech/assets/img/default.png'
        "
        [lazyLoad]="
          'https://ik.imagekit.io/dubotech/assets/sponsor/Nortek.png?updatedAt=1719836461869'
        "
        alt="Nortek"
        matTooltip="Nortek"
        width="158"
        height="48"
      />
      <img
        class="col-span-3 max-h-36 w-full object-contain lg:col-span-1 text-center"
        [defaultImage]="
          'https://ik.imagekit.io/dubotech/assets/img/default.png'
        "
        [lazyLoad]="
          'https://ik.imagekit.io/dubotech/assets/sponsor/Vectornav.png?updatedAt=1719836464829'
        "
        alt="Vectornav"
        matTooltip="Vectornav"
      />
      <img
        class="col-span-3 max-h-36 w-full object-contain lg:col-span-1"
        [defaultImage]="
          'https://ik.imagekit.io/dubotech/assets/img/default.png'
        "
        [lazyLoad]="
          'https://ik.imagekit.io/dubotech/assets/sponsor/BlueRobotics3.png?updatedAt=1719840075262'
        "
        alt="BlueRobotics"
        width="158"
        height="48"
        matTooltip="BlueRobotics"
      />
      <img
        class="col-span-3 max-h-12 w-full object-contain lg:col-span-1"
        [defaultImage]="
          'https://ik.imagekit.io/dubotech/assets/img/default.png'
        "
        [lazyLoad]="
          'https://ik.imagekit.io/dubotech/assets/sponsor/duburi.png?updatedAt=1719933182509'
        "
        alt="BlueRobotics"
        width="158"
        height="48"
        matTooltip="BRACU DUBURI"
      />
      <img
        class="col-span-3 max-h-12 w-full object-contain lg:col-span-1"
        [defaultImage]="
          'https://ik.imagekit.io/dubotech/assets/img/default.png'
        "
        [lazyLoad]="
          'https://ik.imagekit.io/dubotech/assets/sponsor/Robi%20Logo.png?updatedAt=1719836461946'
        "
        alt="Robi"
        width="158"
        height="48"
        matTooltip="Robi"
      />
      <img
        class="col-span-3 max-h-12 w-full object-contain lg:col-span-1"
        [defaultImage]="
          'https://ik.imagekit.io/dubotech/assets/img/default.png'
        "
        [lazyLoad]="
          'https://ik.imagekit.io/dubotech/assets/sponsor/startup.png?updatedAt=1722306111593'
        "
        alt="Startup Bangladesh"
        matTooltip="Startup Bangladesh"
      />
      <img
        class="col-span-3 max-h-12 w-full object-contain lg:col-span-1"
        [defaultImage]="
          'https://ik.imagekit.io/dubotech/assets/img/default.png'
        "
        [lazyLoad]="
          'https://ik.imagekit.io/dubotech/assets/sponsor/ict.png?updatedAt=1722306111464'
        "
        alt="ICT Division"
        matTooltip="ICT Division"
      />
    </div> -->
  </div>
</div>
