<div class="bg-white">
    <div class="relative">
        <!-- <h2 class="text-4xl capitalize font-bold tracking-tight text-blue-800 sm:text-4xl title">
            <span class="">Our Partners and Investors</span>
        </h2> -->

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="carosoul">
                    <img [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            " [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/starup.png?updatedAt=1724790011173'
            " alt="Startup Bangladesh" matTooltip="Startup Bangladesh" width="158" height="48" class="w-40 object-cover" />
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carosoul">
                    <img [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            " [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/ict.png?updatedAt=1724790011415'
            " alt="ICT Division" matTooltip="ICT Division" width="158" height="48" class="w-40 object-cover" />
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carosoul">
                    <img [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            " [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/nortek.png?updatedAt=1724790011193'
            " alt="Nortek" matTooltip="Nortek" width="158" height="48" class="w-40 object-cover" />
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carosoul">
                    <img [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            " [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/vectonab.png?updatedAt=1724790010985'
            " alt="Vectornav" width="158" height="48" class="w-40 object-cover" />
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carosoul">
                    <img [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            " [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/blue.png?updatedAt=1724790011111'
            " alt="BlueRobotics" width="158" height="48" matTooltip="BlueRobotics" class="w-40 object-cover" />
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carosoul">
                    <img [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            " [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/duburi.png?updatedAt=1724790011116'
            " alt="BlueRobotics" width="158" height="48" matTooltip="BRACU DUBURI" class="w-40 object-cover" />
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carosoul">
                    <img [defaultImage]="
              'https://ik.imagekit.io/dubotech/assets/img/default.png'
            " [lazyLoad]="
              'https://ik.imagekit.io/dubotech/assets/img/robi.png?updatedAt=1724790011383'
            " alt="Robi" width="158" height="48" class="w-40 object-cover" />
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>