<!-- banner -->

<div
  class="relative bg-gray-700 isolate px-6 lg:px-8 bg-cover bg-center bg-no-repeat min-h-screen flex items-center justify-center"
  style="background-image: url('assets/img/back_2.jpg')"
>
  <div class="absolute bottom-0 right-0 flex w-64">
    <img src="assets/img/vr.jpg" class="w-full h-64 object-cover" alt="" />
  </div>

  <div class="mx-auto max-w-4xl relative">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Explore Underwater Possibilities
      </h1>

      <div class="mt-6 flex items-center justify-center">
        <a
          routerLink="/tourism"
          fragment="explore"
          class="px-3.5 py-2.5 text-sm font-semibold text-white button-50_1"
          >Explore <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</div>

<!-- who are we? -->
<section id="explore">
  <!-- intro -->
  <div class="relative bg-info-900 overflow-hidden">
    <!-- Content -->
    <div
      class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
    >
      <div class="text-center">
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-white sm:text-4xl title"
        >
          <span class="tapered2">Dive into Smart VR Show</span>
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-12 gap-8 mt-16">
        <div class="md:col-span-4 my-auto">
          <img
            src="assets/img/intro.jpg"
            class="object-cover w-auto h-auto"
            alt=""
          />
        </div>
        <div class="md:col-span-8 my-auto">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
              <p class="text-lg font-semibold text-gray-800">
                <span class="bg-white p-1"> 1</span>
              </p>
              <p class="text-2xl font-semibold text-white">
                Cox's First Smart VR Show
              </p>
              <p class="text-lg text-white text-justify">
                Experience the future of entertainment with Cox's first smart VR
                show.
              </p>
            </div>
            <div>
              <p class="text-lg font-semibold text-gray-800">
                <span class="bg-white p-1"> 2</span>
              </p>
              <p class="text-2xl font-semibold text-white">
                Real Underwater Scene
              </p>
              <p class="text-lg text-white text-justify">
                Dive into the depths of the ocean with our breathtakingly
                realistic underwater scene, presented in stunning 4K resolution.
              </p>
            </div>
            <div>
              <p class="text-lg font-semibold text-gray-800">
                <span class="bg-white p-1"> 3</span>
              </p>
              <p class="text-2xl font-semibold text-white">Haptic Feedback</p>
              <p class="text-lg text-white text-justify">
                Dive into an immersive world with real sensations through haptic
                feedback technology.
              </p>
            </div>
            <div>
              <p class="text-lg font-semibold text-gray-800">
                <span class="bg-white p-1"> 4</span>
              </p>
              <p class="text-2xl font-semibold text-white">Budget Friendly</p>
              <p class="text-lg text-white text-justify">
                Enjoy high-quality experiences without breaking the bank – our
                adventures are designed to be budget-friendly, all under 599
                Taka.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="relative bg-white overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="text-center">
      <p
        class="text-4xl capitalize font-semibold tracking-tight text-gray-800 sm:text-4xl title"
      >
        <span class="tapered2">Smart VR</span>
      </p>
      <p
        class="tracking-tight capitalize text-gray-800 text-lg text-center font-thin"
      >
        Find Your Next Adventure in Cox’s bazar
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8 mt-16">
      <div class="md:col-span-5 md:order-2">
        <img
          src="assets/img/t1.jpg"
          class="object-cover w-auto h-auto"
          alt=""
        />
      </div>
      <div class="md:col-span-7 my-auto text-center md:order-1">
        <p class="text-2xl font-semibold">Haptic Feedback</p>
        <p class="text-center text-lg">
          DuboTech's integrated haptic feedback system synchronizes with your
          chair, bringing videos to life by translating on-screen action into
          real-time movements.
        </p>
      </div>
      <div class="md:col-span-5 md:order-3">
        <img
          src="assets/img/t2.jpg"
          class="object-cover w-auto h-auto"
          alt=""
        />
      </div>
      <div class="md:col-span-7 my-auto text-center md:order-4">
        <p class="text-2xl font-semibold">5d sensation</p>
        <p class="text-center text-lg">
          Dive into an extraordinary 5D experience, where vibrant colors,
          oceanic ambiance, and real-feel sensations combine for a virtual hug
          from the sea, going beyond visuals.
        </p>
      </div>
      <div class="md:col-span-5 md:order-6">
        <img
          src="assets/img/t3.jpg"
          class="object-cover w-auto h-auto"
          alt=""
        />
      </div>
      <div class="md:col-span-7 my-auto text-center md:order-5">
        <p class="text-2xl font-semibold">4k video</p>
        <p class="text-center text-lg">
          Experience the magic in crystal clear detail with our 4K videos.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="relative bg-info-700 overflow-hidden">
  <!-- Content -->
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 relative"
  >
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
      <div class="md:col-span-6 my-auto md:row-span-2">
        <p
          class="text-4xl capitalize font-semibold tracking-tight text-white sm:text-4xl"
        >
          Save The ocean
        </p>
        <p class="tracking-tight capitalize text-white text-lg font-thin">
          Raising Awareness Amidst 8 Million Tons of Plastic Issues.
        </p>
      </div>
      <div class="md:col-span-6 md:row-span-2">
        <img
          src="assets/img/o1.jpg"
          class="object-cover w-auto h-auto"
          alt=""
        />
      </div>
      <div class="md:col-span-6 md:row-span-2">
        <img
          src="assets/img/o2.jpg"
          class="object-cover w-auto h-full"
          alt=""
        />
      </div>
      <div class="md:col-span-6 md:row-span-1">
        <img
          src="assets/img/o3.jpg"
          class="object-cover w-auto h-auto"
          alt=""
        />
      </div>
      <div class="md:col-span-6 my-auto md:row-span-1">
        <p class="text-2xl font-semibold text-white text-center">
          A request to Save Our Oceans
        </p>
      </div>
    </div>
  </div>
</div>
