<!-- Angular Material Form -->
<div class="flex justify-center items-center h-screen">
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="large"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="true"
  >
    <p style="color: white">Saving...</p>
  </ngx-spinner>

  <mat-card class="p-6 max-w-md w-full">
    <mat-card-title class="text-3xl font-semibold mb-6"
      >Forget Password</mat-card-title
    >
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
      <!-- Email Input -->
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>

      <!-- Submit Button -->
      <button
        mat-flat-button
        type="submit"
        [disabled]="!forgetForm.valid"
        class="w-full rounded-md border border-transparent px-6 py-3 text-base font-medium text-white shadow-sm {{
          !forgetForm.valid
            ? 'cursor-not-allowed'
            : 'bg-info-800 hover:bg-info-700'
        }}"
      >
        Reset Password
      </button>
    </form>

    <!-- Login Link -->
    <div class="mt-2 text-sm text-gray-600">
      <p>
        Remembered your password?
        <a routerLink="/admin">Login here</a>
      </p>
    </div>
  </mat-card>
</div>
